body {
  padding-top: 100px;
  background: url("http://i.imgur.com/VGmU1ni.png") repeat scroll 0% 0% #222;
  /*background-image: url('omfgdogs.gif');*/
}

.box {
  background: linear-gradient(to bottom, #333, #181818);
  position: relative;
  width: 100px;
  height: 100px;
  background-color: gray;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  font-size: 450%;
  text-align: center;
  color: #528BA3;
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.5);
  font: "Trebuchet MS", "Arial",sans-serif;
  font-weight: 450;
}

.playing_board {
  width: 318px;
  height: 318px;
  margin: 0 auto;
}

#box_1 {

}
#box_2 {
  top: -106px;
  left: 106px;
}
#box_3 {
  top: -212px;
  left: 212px;
}
#box_4 {
  top: -212px;
}
#box_5 {
  top: -318px;
  left: 106px;

}
#box_6 {
  top: -424px;
  left: 212px;

}
#box_7 {
  top: -424px;
}
#box_8 {
  top: -530px;
  left: 106px;
}
#box_9 {
  top: -636px;
  left: 212px;
}
